# Application PORT
PORT=3000

# DATABASE
DATABASE_DATABASE=tok
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_PORT=3306

# Prisma DATABASE URL
DATABASE_URL=mysql://root:root@localhost:3306/tok

# Environment
DENO_ENV=development

# Authentication token
AUTHENTICATION_TOKEN_EXPIRE_SECONDS=6049606775559589
AUTHENTICATION_TOKEN_SECRET="^?tb7I8FO'Zh!HY}@T-MnAxP3-|{cIHS"
AUTHENTICATION_TOKEN_ALGORITHM=HS256
AUTHENTICATION_TOKEN_ISSUER=tokapi
